<% include header.ejs %>
<div class="container">
   <div class="jumbotron">
      <h1>Aphrodite Dashboard</h1>
      <p class="lead">The Aphrodite dashboard is an open source project that demonstrates the confidence and beauty we have in our code</p>
   </div>
   <div class="panel  panel-primary">
      <div class="panel-heading">
         <h3 class="panel-title">Projects With Code Coverage</h3>
      </div>
      <div class="panel-body">
         <table class="table table-striped">
            <tbody>
               <% for(var i=0; i < projects.length; i++) {%>
               <tr>
                  <td><h3><%= projects[i].name %></h3>
                     <a href="<%= projects[i].url %>">Build <span class="glyphicon glyphicon-wrench"/></a> | 
                     <a href="<%= projects[i].coverage_url %>">Coverage Report <span class="glyphicon glyphicon-tasks"/></a>
                  </td>
               </tr>
               <% } %>
            </tbody>
         </table>
      </div>
   </div>
</div>
<% include footer.ejs %>